<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <Settings>
    <App>
      <!--支付宝支付配置-->
      <add key="AliPay" value="{Url:'https://openapi.alipaydev.com/gateway.do',AppId:'',AliPayPublicKey:'',PrivateKey:''}"/>
      <!--交行支付配置-->
      <add key="BcmPay" value="{MerCertId:'',TranCode:'',MerPtcId:'',TranMode:'D',TranCry:'CNY',ChannelApi:'',SocketIp:'localhost',SocketPort:'8891'}"/>
      <!--微信配置-->
      <add key="Wechat" value="{AppId:'',Secret:'',Token:'',PartnerKey:'',PaySignKey:''}"/>
      <!--短信-->
      <add key="YimeiSms" value="http://sdk999ws.eucp.b2m.cn:8080/sdkproxy/sendsms.action?cdkey=test&amp;password=test&amp;smspriority=1;"/>
      <add key="YiTongSms" value="http://esms.etonenet.com/sms/mt?command=MT_REQUEST&amp;spid=test&amp;sppassword=test"/>
      <add key="YunXinLiuKeSms" value="{Url:'http://h.1069106.com:1210/services/msgsend.asmx/SendMsg',UserCode:'',UserPass:''}"/>
      <add key="MengWangSms" value="{Url:'http://61.145.229.29:9003/MWGate/wmgw.asmx/MongateCsSpSendSmsNew',UserId:'',Password:''}"/>
      <add key="AliDayuSms" value="{ Url:'http://gw.api.taobao.com/router/rest', AppKey:'', AppSecret: '', SmsType:'normal', SmsTemplateCode:'', SmsFreeSignName:''}"/>
      <!--百度地图-->
      <add key="BaiduMap" value="{Url:'http://api.map.baidu.com',Ak:''} "/>
      <!--IP查询接口-->
      <add key="SinaIp" value="http://int.dpool.sina.com.cn/iplookup/iplookup.php?format=js&amp;ip= "/>
    </App>
  </Settings>
</configuration>