<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Dislan>
    <XmlLanguage>
      <!--基础数据-->
      <Language Name="Beeant.Domain.Entities.Basedata.StyleType">
        <Message Name="Website" Value="网页"></Message>
        <Message Name="Mobile" Value="手机端"></Message>
      </Language>
      <!--物流方式-->
      <Language Name="Beeant.Domain.Entities.Basedata.FreightType">
        <Message Name="Express" Value="快递"></Message>
        <Message Name="Distribution" Value="配送"></Message>
        <Message Name="Take" Value="自取"></Message>
      </Language>
    </XmlLanguage>
  </Dislan>
</configuration>                                                                                                                                           