<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Creation>
    <XmlFactory>
      <Ioc>
        <!--工作流-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.FlowEntity" ClassName="Beeant.Domain.Services.Workflow.FlowDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="NodeDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.FlowEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.FlowEntity"></Property>
        </Instance>
        <!--级别-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.LevelEntity" ClassName="Beeant.Domain.Services.Workflow.LevelDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.LevelEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.LevelEntity"></Property>
        </Instance>
        <!--节点消息-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeMessageEntity" ClassName="Beeant.Domain.Services.Workflow.NodeMessageDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.NodeMessageEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeMessageEntity"></Property>
        </Instance>
        <!--节点-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeEntity" ClassName="Beeant.Domain.Services.Workflow.NodeDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="ConditionDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.ConditionEntity"></Property>
          <Property Name="NodeMessageDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeMessageEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.NodeEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.NodeEntity"></Property>
        </Instance>
        <!--条件-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.ConditionEntity" ClassName="Beeant.Domain.Services.Workflow.ConditionDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.ConditionEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.ConditionEntity"></Property>
        </Instance>
        <!--工作流引擎-->
        <Instance Name="Beeant.Application.Services.Workflow.IWorkflowEngineApplicationService" ClassName="Beeant.Application.Services.Workflow.WorkflowEngineApplicationService,Beeant.Application.Services" >
          <Property Name="CacheRepository" Value="Beeant.Domain.Services.Utility.ILocalCacheRepository"></Property>
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>

        <!--工作流任务引擎-->
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.MessageEntity" ClassName="Beeant.Domain.Services.Workflow.MessageDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.TaskEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.MessageEntity"></Property>
        </Instance>
        <Instance Name="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.TaskEntity" ClassName="Beeant.Domain.Services.Workflow.TaskDomainService, Beeant.Domain.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="MessageDomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.MessageEntity"></Property>
          <Property Name="QueueRepository" Value="Beeant.Domain.Services.Utility.IQueueRepository"></Property>
          <Property Name="MobileRepository" Value="Beeant.Domain.Services.Utility.IMobileRepository"></Property>
          <Property Name="EmailRepository" Value="Beeant.Domain.Services.Utility.IEmailRepository"></Property>
        </Instance>
        <Instance Name="Beeant.Application.Services.IApplicationService,Beeant.Domain.Entities.Workflow.TaskEntity" ClassName="Beeant.Application.Services.ApplicationService,Beeant.Application.Services" >
          <Property Name="Repository" Value="Beeant.Domain.Services.IRepository"></Property>
          <Property Name="DomainService" Value="Beeant.Domain.Services.IDomainService,Beeant.Domain.Entities.Workflow.TaskEntity"></Property>
        </Instance>
      </Ioc>
    </XmlFactory>
  </Creation>
</configuration>
