<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlDbRoute>
      <Info Name="Member" TopCount="200">
        <Rule PropertyName="Account.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Id" IsHash="false" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantMemberRead" SetDataBase="BeeantMemberWrite" TableIndex="0" MaxTableIndex="100" TableStepType="Value" TableStep="1" GetDataBaseTableCount="100" SetDataBaseTableCount="100">
          <Property PropertyName="Account.Id" ShardingType="Remainder"  ></Property>
          <Property PropertyName="Id" ShardingType="Value" StartValue="1" EndValue="100000000" ></Property>
        </Sharding>
      </Info>
    </XmlDbRoute>
  </Persistence>
</configuration>