<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlDbRoute>
      <Info Name="Order" TopCount="200">
        <Rule PropertyName="RouteId" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Account.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Id" IsHash="false" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" TableIndex="0" MaxTableIndex="100" TableStepType="Value" TableStep="1" GetDataBaseTableCount="100" SetDataBaseTableCount="100">
          <Property PropertyName="RouteId" ShardingType="Remainder"  ></Property>
          <Property PropertyName="Account.Id" ShardingType="Remainder"  ></Property>
          <Property PropertyName="Id" ShardingType="Value" StartValue="1" EndValue="10000000000" ></Property>
        </Sharding>
      </Info>
      <Info Name="OrderSlave" TopCount="200">
        <Rule PropertyName="Order.RouteId" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Order.Account.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Order.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Id" IsHash="false" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantOrderRead" SetDataBase="BeeantOrderWrite" TableIndex="0" MaxTableIndex="100" TableStepType="Value" TableStep="1" GetDataBaseTableCount="100" SetDataBaseTableCount="100">
          <Property PropertyName="Order.RouteId" ShardingType="Remainder"  ></Property>
          <Property PropertyName="Order.Account.Id" ShardingType="Remainder"  ></Property>
          <Property PropertyName="Order.Id" ShardingType="Value" StartValue="1" EndValue="10000000000" ></Property>
          <Property PropertyName="Id" ShardingType="Value" StartValue="1" EndValue="10000000000" ></Property>
        </Sharding>
      </Info>
 
    </XmlDbRoute>
  </Persistence>
</configuration>