<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Persistence>
    <XmlDbRoute>
      <Info Name="WorkflowSlave" TopCount="200">
        <Rule PropertyName="Account.Id" IsHash="false" IsSave="true"></Rule>
        <Rule PropertyName="Id" IsHash="false" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite" TableIndex="0" MaxTableIndex="100" TableStepType="Value" TableStep="1" GetDataBaseTableCount="100" SetDataBaseTableCount="100">
          <Property PropertyName="Id" ShardingType="Value" StartValue="1" EndValue="100000000"  ></Property>
          <Property PropertyName="Account.Id" ShardingType="Value" StartValue="1" EndValue="100000000"  ></Property>
        </Sharding>
      </Info>
      <Info Name="WorkflowHistory" TopCount="200">
        <Rule PropertyName="Number" IsHash="true" IsSave="true"></Rule>
        <Sharding  GetDataBase="BeeantWorkflowRead" SetDataBase="BeeantWorkflowWrite" TableIndex="0" MaxTableIndex="100" TableStepType="Value" TableStep="1" GetDataBaseTableCount="100" SetDataBaseTableCount="100">
          <Property PropertyName="Number" ShardingType="Remainder"  ></Property>
        </Sharding>
      </Info>
    </XmlDbRoute>
  </Persistence>
</configuration>